<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DestinyConnected</title>
</head>
<body>
    <h1>Reserva</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Viagem</th>
                <th>Número de Passageiros</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in Reserva %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.usuario }}</td>
                <td>{{ reserva.viagem }}</td>
                <td>{{ reserva.num_passageiros }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
